<!-- produtos/product_detail.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes do Produto</title>
    <!-- Adicione o link para o Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>

<div class="container">
    <h1>{{ produto.nome }}</h1>
    <p>{{ produto.descricao }}</p>

    <!-- Exibindo avaliações existentes -->
    <h2>Avaliações:</h2>
    <ul class="list-group">
        {% for avaliacao in avaliacoes %}
            <li class="list-group-item">{{ avaliacao.comentario }} - {{ avaliacao.avaliacao }}</li>
        {% empty %}
            <li class="list-group-item">Nenhuma avaliação disponível.</li>
        {% endfor %}
    </ul>

    <!-- Formulário para enviar nova avaliação -->
    <div class="card mb-3">
        <div class="card-body">
            <h2 class="card-title">Avaliar o Produto:</h2>
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_avaliacao">Sua Avaliação:</label>
                    <input type="number" id="id_avaliacao" name="avaliacao" class="form-control" min="1" max="5" required>
                    <small class="form-text text-muted">Digite uma avaliação de 1 a 5.</small>
                </div>
                <div class="form-group">
                    <label for="id_comentario">Comentário (opcional):</label>
                    <textarea id="id_comentario" name="comentario" class="form-control" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Enviar Avaliação</button>
                <a href="{% url 'index' %}" class="btn btn-secondary ml-2">Voltar</a>
            </form>
        </div>
    </div>
</div>

<!-- Adicione o link para o Bootstrap JS e o jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js" integrity="sha384-ME2W6RO4t/BU3V/B3RTYHzXiQnM/AqNNCoe5Fcb8jlgoHxt0QXJnHo6z9Xzzl0Wd" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</body>
</html>
